
th {
  background-color: greenyellow; /* Gray background for header */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: yellow; /* Striped rows */
}

.table-hover tbody tr:hover {
  background-color: gray; /* Hover effect */
}

.table-sm td, .table-sm th {
  padding: 0.5rem; /* Compact table cells */
}

.table-primary td {
  background-color: yellowgreen; /* Context color for rows with a "primary" class */
}
